%h1
  Personal Profile

#profile-show
  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity
  #profile-occupation
    %h3 Occupation: = @profile.occupation
