%h1
  Personal Profile

#profile-show

  #profile-smoking_habits
    %h3
      Smoking Habits: 
      =@profile.smoking_habits

  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity
