@import 'colours.css.scss';
@import 'fonts.css.scss';
@import 'gradients.css.scss';

html, body {
  height: 100%;
}

body {
  color: $main_colour;
  @include body-gradient;
  @include main-font;
  background-attachment: fixed;
}

#content {
  padding: 1rem;
  padding: 1em;
}

.clear {
  clear: both;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}