@import 'colours.css.scss';
@import 'fonts.css.scss';
@import 'gradients.css.scss';

html, body {
  height: 100%;
}

body {
  @include body-gradient;
  @include main-font;
}

#content {
  padding: 1rem;
  padding: 1em;
}

.clear {
  clear: both;
}