@import 'colours.css.scss';
@import 'fonts.css.scss';

nav {
  background: $header_background;
  padding: 1rem;
  padding: 1em;

  #main-logo {
    @include logo-font;
    font-size: 2rem;
    font-size: 2em;
    background: image-url('logo.png') no-repeat;
    height: 62px;
    line-height: 62px;
    padding-left: 82px;
    float: left;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .nav-links {
    float: right;

    ol {
      li {
        display: inline;
        border-right: 1px solid $grey;
        padding: 0 10px 0 10px;

        &:last-child {
          padding: 0 0 0 10px;
          border-right: 0;
        }

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  border-bottom: 2px solid $grey;
}
