.checkout {
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  label {
    float: left;
    width: 220px;
  }

  .pitch {
    margin-bottom: 1em;
  }

  // .payment-errors {
  //   display: block;
  //   padding: 1em;
  //   background: #FF9999;
  //   margin: 2em;
  // }
}