@import 'colours.css.scss';

.profile {
  .profile-header {
    h1 {
      display: inline-block;
      font-size: 2em;
      margin-bottom: 1em;
    }

    .actions {
      line-height: 2em;
    }
  }

  .col {
    float: left;

    &.profile-images {
        width: 320px;

        > img {
          width: 320px;
          height: 320px;
        }

        .thumbnail-image {
          width: 80px;
          float: left;
        }
      }

    &.profile-info {
      width: 200px;
      background: $off_white;
      margin-left: 20px;
      background: #fcfcfc;
      padding: 20px 10px 20px 10px;
      font-size: 0.8em;

      h2 {
        font-size: 1.2em;
        margin-bottom: 1em;
      }

      .fact {
        clear: left;
        padding: 0.5em;
        margin-bottom: 1.2em;
        border-bottom: $grey;

        h3 {
          float: left;
          margin-bottom: 1.2em;
        }
      }
    }

    &.biography {
      width: 380px;
      margin-left: 20px;

      h3 {
        font-size: 1.8em;
        margin-bottom: 1em;
      }

      p {
        text-align: justify;
      }

      .likes-and-dislikes, .looking-for {
        margin-top: 1em;
      }
    }
  }

  .profile-percentage {
    display: inline-block;

    .profile-complete-outer {
      width: 200px;
      height: auto;
      margin: 10px;
    }

    h2 {
      padding-top: 0.5em;
      font-size: 0.6em;
      text-decoration: italic;
    }
  }

  #profile-edit {
    fieldset {
      padding: 1em;
      border-bottom: 1px solid $grey;

      .mce-tinymce {
        margin-top: 1em;
      }
    }
  }

}


